﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="panel panel-primary">
        <h3  class="panel-heading text-center" >Поиск информации о предприятии </h3> 
         @Html.Partial("Search")
         @Html.Partial("Table")
              
    </div>
