﻿<!-- Представление для поиска -->
<div class="panel-body" ng-show="currentView == 'search'">
    <div class="form-group">
        <label>Название предприятия:</label>
        <input class="form-control" ng-model="currentItem.name" />
    </div>
    <button class="btn btn-primary" ng-click="sendingAndReceivingData(currentItem)">Поиск</button> <!--Отправка строки поиска на сервер-->
</div>
