﻿<!--Представление для отображения всех данных-->
<div class="panel-body" ng-show="currentView == 'table'">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название предприятия</th>
                <th class="text-right">Телефон</th>
                <th class="text-right">Почта</th>
                <th class="text-right">Описание деятельности</th>
              
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.Name}}</td>
                <td class="text-right">{{item.PhoneNumber}}</td>
                <td class="text-right">{{item.Mail}}</td>
                <td class="text-right">{{item.Description}}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" ng-click="backToSearch()">Новый поиск</button>
    </div>
</div>
